# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Local DB
*.db
grocery.db

# Env / secrets
.env
*.local

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# OS
.DS_Store

# Logs
*.log
